*,
*::before,
*::after {
  box-sizing: border-box;
}



:root {
  --container-width: 1920px;
  --container-offset: 20px;
  --body-color: #ECECEC;
}

body {
  background-color: var(--body-color);
  font-family: "DrukWideCyr-Bold", "Commissioner-Bold", "Commissioner-Regular", sans-serif;
}
.flex {
  display: flex;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
li,
ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset, h1, h2, h3, h4, h5, h6, ul, p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}




